.home{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.title{
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    color: white;
    padding-bottom: 10vmin;
    text-shadow: 0 0 5px #070707, 0 0 10px #000000;

}

.btnSignup{
    transition: transform 150ms ease-in;
    grid-column: 2;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: white;
    margin-bottom: 3vmin;
    text-shadow: 0 0 5px #5e99a3, 0 0 10px #f7f4f4;
    
}


.btnSignin{
    transition: transform 150ms ease-in;
    grid-column: 2;
    grid-row: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 2vmin;
    text-shadow: 0 0 5px #5e99a3, 0 0 10px #ffffff;
}


.btn{
   
    grid-column: 2;
    grid-row: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: white;
}

.btnSignin:hover{
    transform: scale(1.1);
    transition: transform 150ms ease-in;
}

.btnSignup:hover{
    transform: scale(1.1);
    transition: transform 150ms ease-in;
}

.btnStyle{
    
    justify-content: center;
}

button {
    background-color: #464241;
    color: white;
    padding: 14px 20px;
    margin: 1vh;
    border: solid 1px #464241;
    width: 100%;
    
}

h2{
    color: white;
    
}
